<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>xyz.juul.homebrew-auto-dump</string>

        <key>Program</key>
        <string>brew-auto-dump</string>

        <key>StartInterval</key>
        <integer>28800</integer>

        <key>StandardOutPath</key>
        <string>~/Library/Logs/bootstrap-macos/brew-auto-dump.log</string>
        <key>StandardErrorPath</key>
        <string>~/Library/Logs/bootstrap-macos/brew-auto-dump-error.log</string>
    </dict>
</plist>
